<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleof.org">
<head>
<meta charset="UTF-8">
<title>spring2</title>
</head>
<body>
	<h1>[ spring2 ]</h1>
	<h2 th:if="${session.LoginId != null}"><span th:text="${session.LoginId}"></span>님 접속중</h2>
	<ol>
	<li>로그
	<ul>
		<li><a href="logtest">log 출력하기</a>
	</ul>
	</li>
	<li>서버와 값주고 받기
	<ul>
		<li><a href="param/test1">GET method parameter 전달</a></li>
		<li><a href="param/input1?name=abc&age=1">GET method parameter 전달-URL에 전달붙여서</a></li>
		<li><a href="param/test2">POST method parameter 전달</a></li>
		<li><a href="param/test3">POST method parameter 전달-객체로 전달</a></li>
		<li><a href="param/model">모델 사용하기</a></li>
	</ul>
	</li>
		<li>세션 사용하기
	<ul>
		<li><a href="session/stest1">세션에 값 저장</a></li>
		<li><a href="session/stest2">세션 값 읽기</a></li>
		<li><a href="session/stest3">세션의 값 삭제</a></li>
		<li><a href="session/stest4">로그인</a></li>
		<li><a href="session/stest5">로그아웃</a></li>
	</ul>
	</li>
	<li>쿠기 사용하기
	<ul>
		<li><a href="cookie/ck1">쿠키 저장</a></li>
		<li><a href="cookie/ck2">쿠키 읽기</a></li>
		<li><a href="cookie/ck1">쿠키 삭제</a></li>
	</ul>
	</li>
	<li>Thymeleaf
	<ul>
		<li><a href="th/thtest1">Thymeleaf</a></li>
		<li><a href="th/thtest2">Thymeleaf2</a></li>
	</ul>
	</li>
	
	</ol>
</body>
</html>