<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시판</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header>
	<h1><a th:href="@{/board/list}">[ 게시판 ]</a></h1>
</header>

<section>
	<!-- 글목록 출력 영역 -->
	<table>
		<tr>
			<td class="white">
				전체 <span></span>
			</td>
			<td class="white" colspan="3"></td>
			<td class="head">
				<p><a sec:authorize="isAuthenticated()" th:href="@{/board/write}">글쓰기</a></p>
				<p><input type="button" th:onclick="|location.href='@{/board/write}'|" value="글쓰기" ></p>
				<a th:href="@{/}">Home</a>
			</td>
		</tr>
		<tr>
			<th>번호</th>
			<th style="width:220px;">제목</th>
			<th>작성자</th>
			<th>조회수</th>
			<th>작성일</th>
		</tr>
		<tr th:each="board:${list}">
			<td th:text="${board.boardnum}" class="center"></td>
			<td>
				<a th:text="${board.title}" th:href="@{/board/read(num=${board.boardnum})}"></a>
			</td>
			<td th:text="${board.memberid}" class="center"></td>
			<td th:text="${board.hits}" class="center"></td>
			<td th:text="${board.inputdate}"></td>
		</tr>		
	</table>
	
	<div id="navigator">
	
	<!-- 페이지 이동 링크 --></div>
	<a></a>




</section>
</body>
</html>