<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view3</title>

</head>
<body>
<h2>[POST 방식의 parameter 전달]</h2>

<form action="input3" method="post">
ID<input type="text" name="id"><br>
Password<input type="password" name="password"><br>
Name<input type="text" name="name"><br>
Phone<input type="text" name="phone">
	<input type="radio" name="com" value="kt" checked>kt
	<input type="radio" name="com" value="Lg">lg
	<input type="radio" name="com" value="SKT">skt<br>
	<input type="submit"value="가입">
</form>
</body>
</html>